In [1]:
def greedy_matching(df, n):
    matched_list = []
    match_id = 1
    used_mb1 = set()
    used_mb2 = set()
    
    for mb1 in df['mb1'].unique():
        if mb1 not in used_mb1:
            potential_matches = df[(df['mb1'] == mb1) & (~df['mb2'].isin(used_mb2))]
            matched_mb2 = potential_matches['mb2'].head(n).tolist()
            
            if matched_mb2:
                matched_list.extend([(mb1, 'mb1', match_id, 1)] + [(mb, 'mb2', match_id, 1/len(matched_mb2)) for mb in matched_mb2])
                used_mb1.add(mb1)
                used_mb2.update(matched_mb2)
                match_id += 1
                
    matched_df = pd.DataFrame(matched_list, columns=['mb', 'group', 'match_id', 'weight'])
    return matched_df

In [7]:
import pandas as pd
to_match_df=pd.read_csv('~/PSM/to_match_v2.csv')

In [9]:
matched_df_example = greedy_matching(to_match_df, 3)

In [11]:
# Display the first few rows of the result to verify the structure
matched_df_example

    mb group  match_id    weight
0    a   mb1         1  1.000000
1    h   mb2         1  0.333333
2    i   mb2         1  0.333333
3    j   mb2         1  0.333333
4    g   mb1         2  1.000000
5    k   mb2         2  0.333333
6    l   mb2         2  0.333333
7    m   mb2         2  0.333333
8   ii   mb1         3  1.000000
9   hh   mb2         3  0.333333
10  jj   mb2         3  0.333333
11  kk   mb2         3  0.333333
12   h   mb1         4  1.000000
13   n   mb2         4  0.333333
14   o   mb2         4  0.333333
15   p   mb2         4  0.333333
16   b   mb1         5  1.000000
17   q   mb2         5  0.333333
18   r   mb2         5  0.333333
19   s   mb2         5  0.333333
20   f   mb1         6  1.000000
21   t   mb2         6  0.333333
22   u   mb2         6  0.333333
23   v   mb2         6  0.333333
24   c   mb1         7  1.000000
25   w   mb2         7  0.500000
26   x   mb2         7  0.500000
27   d   mb1         8  1.000000
28   y   mb2         8  0.500000
29   z   mb2         8  0.500000